<%- include("template/header", {title: 'Desayunos y comidas Win'});  %> 
<div class="container">
<h1>Editar Menú del Día</h1>
<form action="/admin/menu" method="post">
<legend>Primer Tiempo:</legend>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="Sopa de pasta" id="sopa_de_pasta" checked name="primerTiempo">
    <label class="form-check-label" for="sopa_de_pasta">
      Sopa de pasta
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="Sopa de lentejas" id="sopa_de_lentejas" name="primerTiempo">
    <label class="form-check-label" for="sopa_de_lentejas">
      Sopa de lentejas
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="Consome de pollo" id="consome_de_pollo" name="primerTiempo">
    <label class="form-check-label" for="consome_de_pollo">
      Consome de pollo
    </label>
</div>
<legend>Segundo Tiempo:</legend>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="Arroz" id="arroz" checked name="segundoTiempo">
    <label class="form-check-label" for="arroz">
      Arroz
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="Espaguetti" id="espaguetti" name="segundoTiempo">
    <label class="form-check-label" for="espaguetti">
      Espaguetti
    </label>
</div>
<div class="mb-3">
    <label for="tercerTiempo" class="form-label">Tercer Tiempo</label>
    <input type="text" class="form-control" id="tercerTiempo" name="tercerTiempo" value="<% if (typeof valores !='undefined') { %> <%= valores.tercerTiempo %> <% } %>">
</div>  
<button type="submit" class="btn btn-primary">Guardar</button>
</form>
<% if (typeof validaciones != 'undefined') { %>
    <% validaciones.forEach(validacion => { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= validacion.msg %> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% }) %>
<% } %>
<form action="/logout" method="post">
    <input type="submit" value="Salir">
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>